* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --red: #d72424;
  --blue: #0000ff;
  --green: #078207;
  --white: #f7f2f2;
  --black: #0c0c0c;
  --yellow: #e8e80b;
}

body {
  background: var(--white);
}

body * {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;

  color: var(--white);
}

#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20vh 1fr 10vh;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  gap: 2.4rem;

  padding: 0 2.4rem;
  margin: 5.6rem 0;

  min-height: 100vh;
}

header {
  grid-area: header;

  background: var(--red);

  padding: 2.4rem;

  border-radius: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  padding: 1.6rem;

  background: var(--blue);

  border-radius: 0.8rem;

  font-weight: 400;
}

header nav {
  padding: 1.6rem;

  background: var(--blue);

  border-radius: 0.8rem;
}

aside {
  grid-area: aside;

  background: var(--red);

  padding: 2.4rem;

  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

aside article {
  background: var(--green);

  padding: 2.4rem;

  border-radius: 0.8rem;
}

main {
  grid-area: main;

  background: var(--red);

  padding: 2.4rem;

  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

main h2 {
  font-weight: 400;
}

main section {
  background: var(--yellow);

  padding: 2.4rem;

  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

main section div {
  background: var(--black);

  padding: 2.4rem;

  border-radius: 0.8rem;
}

main section p {
  color: var(--black);
}

footer {
  grid-area: footer;

  background: var(--red);

  padding: 2.4rem;

  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
